/*--------------------------------------------------------------------------------*/
/*----------Basic-------------*/
/*---------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: white;
    font-family: "Lato", "Arial", sans-serif;
    color: rgb(93, 89, 89);
    font-weight: 400;
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;

    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/*----------------------------------------------------------------------*/
/*  ----------buttons---------*/
/*-----------------------------------------------------------------------*/

.btn {
    display: inline-block;
    padding: 10px 30px;
    font: 300;
    text-decoration: none;
    border: 1px solid;
    border-radius: 200px;
}

.btn-signup {
    color: white;
    border: 1px solid orange;
    margin-right: 5px;
}

.btn-signup:hover {
    background-image: linear-gradient(rgb(255, 153, 0), rgb(182, 123, 50));
    text-decoration: underline;
}

.btn-section {
    color: white;
    border: 1px solid orange;
}

.btn-section:hover {
    background-image: linear-gradient(rgb(255, 139, 6), rgba(212, 136, 43, 1));
    text-decoration: underline;
}



/* ------------------------------------------------------------------------------
                            ----------HEADER---------------
--------------------------------------------------------------------------------*/

header {
    background-image: linear-gradient(#1d1b1bc9, #252323c7),
        url(../images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-textbox {
    position: absolute;
    left: 20%;
    top: 50%;
    line-height: 1.5;
}

.nav-bar {
    background-color: #2523231f;
    height: 70px;
}

.logo {
    float: left;
    width: auto;
    height: inherit;
    margin-left: 110px;
}

.ul-main-nav {
    float: right;
    list-style: none;
    padding: 15px;
}

.ul-main-nav li {
    display: inline-block;
}

.ul-main-nav li a {
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.ul-main-nav li a:hover {
    color: #dad5d5e1;
    border-bottom: 4px solid #fc5d02e1;
    border-radius: 80%;
}

.hero-h1 {
    font-size: 200%;
    font-weight: 300;
    color: rgb(255, 255, 255);
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------*/
/*  ----------title-Section ---------*/
/*-----------------------------------------------------------------------*/

.section-tittle {
    margin: 30px auto;
    padding: 0px;
    text-align: center;
}

.section-tittle h2 {
    font-size: 170%;
    font-size: 400;
    text-transform: uppercase;
    word-spacing: 2px;
margin-top: 80px;
}

.section-tittle h2::after {
    display: block;
    content: "";
    border-bottom: 4.5px solid orange;
    width: 100px;
    margin: 30px auto;
}



.features-p {
    line-height: 2;
    margin: 30px auto;
    width: 60%;
    text-align: center;
}

.flex-features {
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 15% 100px 6%;
    padding: 0 20px;
}

.col-1-of-4 {
    padding: 0 15px;
}

.col-2-of-4 {
    padding: 0 10px;
}

.col-3-of-4 {
    padding: 0 10px;
}

.col-4-of-4 {
    padding: 0 10px;
}

div.flex-features h3 {
    margin: 0;
    font-weight: 300;
    margin-bottom: 15px;
}

.p-flex {
    font-size: 90%;
    font-weight: 300;
    font-size: 1rem;
}

.icon-big {
    font-weight: 100;
    padding: 15px;
    font-size: 270%;
    display: block;
    color: rgb(228, 160, 70);
    
}

/*----------------------------------------------------------------------*/
/*  ----------Meal-Section ---------*/
/*-----------------------------------------------------------------------*/

.Favorite-meals {
    margin-bottom: 50px;
}

.meal-showcase li {
    list-style: none;
    display: block;
    width: 25%;
    float: left;
    padding: 0;
    margin: 0;
}

.meal-photos {
    width: 100%;
    overflow: hidden;
    background-color: #000;

}

.meal-photos img {
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s;
    height: auto;

    width: 100%;
}

.meal-photos img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.float-fix {
    zoom: 1;
}

.float-fix::after {
    content: ".";
    display: block;
    clear: left;
    height: 0;
}

/*----------------------------------------------------------------------*/
/*  ----------work-Steps-Section ---------*/
/*-----------------------------------------------------------------------*/

.work-steps {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color:#F4F4F4;
}

.work-steps h2 {
    padding: 50px;
    text-align: center;
    font-size: 180%;
    font-size: 400;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-top: 30px;
}

.work-steps h2::after {
    display: block;
    content: "";
    border-bottom: 4.5px solid orange;
    width: 100px;
    margin: 30px auto;
}

.work-steps-flex {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-right: 12%;
}

.iphone-img {
    max-width: 210px;
    max-height: 431px;

}

.playstore-img {
    width: 150px;
    height: 45px;
    float: left;
    padding-right: 10px;
    margin-left: 25px;

}

.appstore-img {
    width: 150px;
    height: auto;
    float: left;

}

.steps {
    display: inline-block;
    padding: 50px;
    margin-bottom: 60px;

}

.steps div {
    float: left;
    border-radius: 50%;
    border: 2px solid orange;
    color: orange;
    font-weight: 300;
    height: 40px;
    width: 40px;
    margin: 0;
    margin-right: 25px;
    font-size: 1.3rem;


}


div.steps p {

    line-height: 1.2;
    padding-bottom: 40px;
    text-align: left;

}

/*----------------------------------------------------------------------*/
/*  ----------Cities-Section ---------*/
/*-----------------------------------------------------------------------*/

.cities h2 {
    padding: 15px;
    text-align: center;
    font-size: 180%;
    font-size: 400;
    text-transform: uppercase;
    word-spacing: 2px;
   margin: 50px auto 10px;
   
}

.cities h2::after {
    display: block;
    content: "";
    border-bottom: 4.5px solid orange;
    width: 100px;
    margin: 30px auto;
}

.cities-flex
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 30px;
    margin: 0 6.5%;
    margin-bottom:500px; 
}

div.cities-flex img {
    width: 100%;
    padding: 0 7%;

}

.col-1-of-city

{
    width: 25%;
  
}

.col-2-of-city {
    width: 25%;
}


.col-3-of-city {
    width: 25%;
}

.col-4-of-city {
    width: 25%;
}


div.cities-flex h3
{
    font-weight: 300;
    margin-left: 25px;
    margin-bottom: 30px;
}

.icon-small

{
        color: rgb(228, 160, 70);
        padding: 10px;
    

}

.img-city-caption-features
{
    font-weight: 300;
    margin-left: 20px;
    padding-bottom: 5px;
    

}

